section {
  margin: 30px;
}

mat-form-field {
  width: 300px;
}

section form{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

button {
  margin-top: 20px;
}


@media(max-width: 600px) {
  section form{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
  button {
    margin-top: 10px;
    /* width: 95%; */
  }
}